body.modal-open .supreme-container{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
  .banner {
  padding: 20px; /* Adjust padding as needed */
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow effect */
}

body{
    background-color: #f8f9fa;
}

#demo-video{
    border: 3px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#video-stream{
    border: 3px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}