<!DOCTYPE html>
<html>
<head>
  <title>Sign Language Lesson</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<style>
  body.modal-open .supreme-container{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
  .banner {
  padding: 20px; /* Adjust padding as needed */
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow effect */
}
</style>
<body style="background-color: #f8f9fa">
  <div class="container mt-5 supreme-container">
    <p id="current-sign" class="text-center banner mt-3">Learning signs</p>
    <div class="row mt-5" >
      <div class="col-md-6">
        <video class="w-100" id="demo-video" src="{{url_for('static' , filename = 'A.mp4')}}" style = "border: 3px solid #007bff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" controls></video>

      </div>
      <div class="col">
        <img id="video-stream" src="{{ url_for('video_stream') }}" style = "border: 3px solid #007bff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);" alt="Live Video Stream">     

      </div>
  </div>
  <div class="row mt-3">  
    <div class="col-md-12 d-flex justify-content-end">
      <div class="d-flex flex-row-reverse justify-content-end">
        <button id="next-button" class="btn btn-primary">Next Sign</button>
      </div>
    </div>
  </div>
  <div id="success-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="success-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="success-modal-label">Good job!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          You did it!
        </div>
      </div>
    </div>
      
  </div>


</div>
<div class="modal fade" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="loading-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-body text-center">
        <div class="spinner-border text-primary" role="status">
        </div>
        <p>Loading webcam...</p>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
  // Show loading modal initially
  $('#loading-modal').modal('show');

  
  $(window).on('load', function () {
    $('#loading-modal').modal('hide');
  }) 

});
  $(document).ready(function() {
    var videoSignMap = {
      'A.mp4': 'A',
      'B.mp4': 'B',
      'C.mp4': 'C',
      'D.mp4': 'D',
      'E.mp4': 'E'
    };
    var currentVideo = 'A';

    // Function to set the next video source
    function setNextVideoSource() {
      var videoSources = Object.keys(videoSignMap);
      var randomIndex = Math.floor(Math.random() * videoSources.length);
      while (videoSources[randomIndex] === currentVideo) {
        randomIndex = Math.floor(Math.random() * videoSources.length);
      }
      currentVideo = videoSources[randomIndex];
      $('#demo-video').attr('src', '{{ url_for("static", filename="") }}' + currentVideo);
      $('#demo-video').get(0).load();
      sendVideoNameToBackend(); // Send the video name to the backend when video changes
    }

    // Set the next video source when the "Next Sign" button is clicked
    $('#next-button').click(function() {
      setNextVideoSource();
    });

    // Function to handle YOLO detection success
    function handleDetectionSuccess(sign) {
      console.log("handle detection function")
      console.log("video name is " + currentVideo)
      console.log("sign is " + sign)
      currentVideo = currentVideo.split('.')[0];
      if (currentVideo === sign) {
        console.log("Matching video and sign detected");
        // Show success modal
        setTimeout(function() {
      $('#success-modal').modal('show');
      }, 5000);
      }
    }

    function sendVideoNameToBackend() {
      var videoSrc = $('#demo-video').attr('src');
      var videoName = videoSrc.split('/').pop(); // Extract video name from URL
      $.post('/stop_detection', { video_name: videoName });
    }

    // Function to get the current class name from the backend
    function getClassFromBackend() {
      $.get('/get_class', function(data) {
        
          handleDetectionSuccess(data);
        

          
      
        
      });
    }

    // Call getClassFromBackend function periodically to get the current class name
    setInterval(getClassFromBackend, 1000); // Adjust the interval as needed

    // Initial call to send video name to backend when page loads
    sendVideoNameToBackend();

  });
</script>    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>